<label>Server name</label>
<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<p *ngIf="servernameEntered; else: noServer">Entered server name is: {{ serverName }}</p>
<ng-template #noServer>
    <p>No server is created</p>
</ng-template>

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onAddNewServer()"
    >Add new server
</button>
<p>{{ serverCreationStatus }}</p>
<p [innerText]="allowNewServer"></p>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<input
    type="text"
    class="form-control"
    [(ngModel)]="username"
>
<p>Entered username is: {{ username }}</p>
<button
    class="btn btn-primary"
    [disabled]="username === ''"
    (click)="username = ''"
    >Restart username
</button>

<hr>
<button class="btn btn-primary"
(click)="onDisplayDetails()">Display Details</button>
<p *ngIf="isSecretPasswordVisible; else: isSecretPassword">tuna</p>
<ng-template #isSecretPassword><p>
    Secret password
</p></ng-template>
<hr>
<p 
    *ngFor="let click of clicks; let i = index;"
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{newStyle: getColor()==='blue' && i>=5}"
    >click number {{clicks[i]}}
</p>